@keyframes wiggle {
  0% {
    transform: rotate(0deg);
    scale: 1;
  }
  14% {
    transform: rotate(0deg);
    scale: 1;
  }
  14.5% {
    transform: rotate(15deg);
    scale: 1.25;
  }
  15.5% {
    transform: rotate(-15deg);
    scale: 1.25;
  }
  16.5% {
    transform: rotate(15deg);
    scale: 1.25;
  }
  17% {
    transform: rotate(0deg);
    scale: 1;
  }
  100% {
    transform: rotate(0deg);
    scale: 1;
  }
}

.play {
  animation: wiggle 20s infinite;
}
