.grid {
  display: grid;
  gap: 1rem;
  justify-items: center;
  grid-template-columns: repeat(1, 1fr [col-start]);
}

.item {
  --inner-shadow: inset 5px -5px 10px 0px rgba(0, 0, 0, 0.75);
  --outer-shadow: -5px 5px 10px 0px rgba(255, 255, 255, 0.45);
  width: 100%;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  box-shadow: var(--inner-shadow), var(--outer-shadow);
  transition: border-radius 500ms ease-in;
  position: relative;
  background-color: #efefef;
}

@media (prefers-color-scheme: light) {
  .item {
    --outer-shadow: -5px 5px 10px 0px rgba(0, 0, 0, 0.45);
  }
}

.item:hover {
  border-radius: 50%;
}

.image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  transition: scale 500ms ease-in;
}

.image:hover {
  scale: 1.75;
}

.item p {
  text-align: center;
  font-weight: bold;
  color: white;
  box-shadow: 3px -5px 10px 0px rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 12px rgba(128, 0, 0, 1);
  background-color: var(--theme-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms ease-in;
}

.item:hover p {
  opacity: 0;
}

@media (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(2, 1fr [col-start]);
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr [col-start]);
  }
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(4, 1fr [col-start]);
  }
}
